[west]
account="account"
api_key="apikey"

[telegram]
token="token:token"
chat_id=12345678

[slack]
token="token"
channel_id="CHANNEL"

[line]
secret="Channel Secret"
access_token="Channel Access Token"
